[Unit]
Description=Resource Self Description Service
#Wants=network-online.target
After=network-online.target

[Service]
User={{ username }}
ExecStart=/usr/bin/java -jar {{ download_path }}{{download_file_name}} --consul.acl-token={{ consul_token }} --resource.id={{ resource_id }} --aas.submodel-repository.host={{ ansible_default_ipv4.address }} --spring.ssl.bundle.pem.resource.keystore.certificate={{ download_path }}certs/{{ resource_id }}.crt --spring.ssl.bundle.pem.resource.keystore.private-key={{ download_path }}certs/{{ resource_id }}.key

[Install]
WantedBy=default.target