[Unit]
Description=Resource Self Description Service
#Wants=network-online.target
After=network-online.target

[Service]
User={{ username }}
ExecStart=/usr/bin/java -jar {{ download_path }}{{download_file_name}} -Dconsul.acl-token={{ consul_token }} -Dresource.id={{ resource_id }}

[Install]
WantedBy=default.target