[Unit]
Description=Resource Self Description Service
#Wants=network-online.target
After=network-online.target

[Service]
User={{ username }}

ExecStart=/usr/bin/java -jar {{ install_executable_path }} \
  --resource.id={{ RESOURCE_ID }} \
  --server.port={{ port }} \
  --deployment.url=https://{{ ansible_host }}:{{ port }} \
  --security.certificate={{ install_path }}/certs/resource_cert.crt \
  --security.private-key={{ install_path }}/certs/resource_cert.key \
  --aas.aas-registry.url={{ aas_registry_url }} \
  --aas.submodel-registry.url={{ submodel_registry_url }} \
  --security.enabled=true \
  --jwt.auth.issuer-uri={{ keycloak_url }}/realms/fabos \
  --datasources.docker.docker-host=unix:///var/run/docker.sock

StandardOutput=append:{{ install_path }}/resource-self-description-service.log
StandardError=append:{{ install_path }}/resource-self-description-service.error.log

[Install]
WantedBy=default.target