---
- name: Set Download and binary name
  ansible.builtin.include_tasks: helper/set_download_url_and_binary.yml

- name: "Stop resource-self-description-service service"
  ansible.builtin.systemd:
    state: stopped
    daemon_reload: yes
    name: resource-self-description-service
  register: stop_service_result
  failed_when: false

- name: "Remove rule for port {{port}}"
  ansible.builtin.iptables:
    action: append
    chain: INPUT
    protocol: tcp
    destination_port: "{{port}}"
    ctstate: ["NEW", "ESTABLISHED"]
    match: ["conntrack"]
    jump: "ACCEPT"
    state: absent
  changed_when: false

- name: "Restart firewalld service (RedHat)"
  ansible.builtin.systemd:
    state: restarted
    daemon_reload: yes
    name: firewalld
  when: ansible_os_family == "RedHat"
  changed_when: false

- name: "Remove service file"
  ansible.builtin.file:
    path: /etc/systemd/system/resource-self-description-service.service
    state: absent

- name: "Remove download folder"
  ansible.builtin.file:
    path: "{{ download_path }}"
    state: absent

- name: "Delete '{{ username }}' User"
  ansible.builtin.user:
    name: "{{ username }}"
    state: absent

- name: Remove Host by name
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: '.*\s+{{ item.name }}(\s+.*)?$'
    state: absent
  loop:
    - { name: "consul" }
    - { name: "aas-registry" }
    - { name: "aas-repository" }
    - { name: "submodel-registry" }
    - { name: "submodel-repository" }